<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.rimobul.cameraandlocation" android:installLocation="auto" android:versionCode="1" android:versionName="Test">
	<uses-sdk android:minSdkVersion="19" />
	<application android:label="CameraAndLocation.Droid" android:icon="@drawable/icon"></application>
</manifest>